<a href="https://colab.research.google.com/github/Eduardoalmadarodrigues/30-day-challenges-with-sql/blob/main/challenges/notebooks/notebook_challenge_002_level1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Nesse desafio super fácil, eu preciso dos registros onde o primeiro caracter seja o "A" e o terceiro "e" da coluna `FirstName`
tu vai criar uma query que traga esse resultado e uma breve explicação da implementação do código e descrever a query abaixo:


FirstName |
-|
Alexandre| 

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

o 'select' escolhe a linha FirstName da coluna Customer.
O comando "where like" procura o padrão "A_e%" e retona os valores nas quais encontra-lo. O padrão sem o % inicial mostra que o A fica no começo da palavra, enquanto o underline deixa o campo em aberto para qualquer letra enquanto o e% simboliza um e no final do padrão. Me desculpe pela falta de termos técnicos mas realmente eu não sei nada de sql, estou aprendendo agora. Busquei ajuda no site https://www.w3schools.com/sql/sql_like.asp

In [4]:
%%sql
select FirstName from Customer where Firstname like "A_e%"

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[('Alexandre',)]