<a href="https://colab.research.google.com/github/GurgelLucas/30-day-challenges-with-sql/blob/main/challenges/notebooks/notebook_challenge_004_level2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos dos valores numéricos inteiros contidos na coluna `Customer.PostalCode`, que possuam 8 caracteres.

resultado esperado:  

|CustomerId|Address                        |State|Country|Postal_Code
|----------:|------------------------------:|----:|------:|----------
|         1|Av. Brigadeiro Faria Lima, 2170|SP   |Brazil |   12227000
|        12|Praça Pio X, 119               |RJ   |Brazil |   20040020
|        13|Qe 7 Bloco G                   |DF   |Brazil |   71020677
|        20|541 Del Medio Avenue           |CA   |USA    |   94040111

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

Para esta solução pensei no uso da função "TRIM" para aparar qualquer espaço branco que tenha na direita ou esquerda dos valores da coluna 'PostalCode', após o uso da função TRIM aplica-se o "REPLACE" para substituir o caractere '-' por '', todo o resultado dessas funções será retornado em um campo nomeado como Postal_Code.

Assim temos o Campo Postal_Code pronto para fazer a verificação de tamanho e verificação de valores númericos.

No "WHERE", usamos a "LENGTH" para verificar o tamanho do valor contido no campo e com "REGEXP" na verificação '^[1-9]' verificamos se realmente inicia-se com valores numéricos.

In [69]:
%%sql
SELECT
  CustomerId,
  Address,
  State,
  Country,
  TRIM(REPLACE(PostalCode, '-', '')) as Postal_Code
FROM
  Customer
WHERE
  LENGTH(Postal_Code) = 8 AND Postal_Code REGEXP '^[1-9]'

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Av. Brigadeiro Faria Lima, 2170', 'SP', 'Brazil', '12227000'),
 (12, 'Praça Pio X, 119', 'RJ', 'Brazil', '20040020'),
 (13, 'Qe 7 Bloco G', 'DF', 'Brazil', '71020677'),
 (20, '541 Del Medio Avenue', 'CA', 'USA', '94040111')]